body {
  background-color: rgb(245, 218, 250);
}

nav {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.theme-color-btn {
  background-color: rgb(132, 11, 156);
  border-color: rgb(132, 11, 156);
  color: white;
}

.theme-color-btn:hover {
  color: rgb(132, 11, 156);
  border-color: rgb(132, 11, 156);
  background-color: white;
}

.theme-color-h {
  color: rgb(132, 11, 156);
}

.log-out-btn {
  font-size: 1.5rem;
}
.sign-in-btn {
  margin: 1rem;
  margin-right: 2rem;
  display: none;
}

.sign-in-btn a {
  padding: 0;
  color: white;
}

.auth-form-change-mode {
  cursor: pointer;
  margin: 1rem;
}

.auth-form {
  text-align: center;
  width: 50%;
  margin: 2rem auto;
  border-radius: 10%;
  border: 1.5px gray solid;
  padding: 2rem;
  max-width: 30rem;
}

.input-container {
  position: relative;
}

.password-visibillity {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.log-form-header {
  margin-bottom: 1.5rem;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.post {
  width: 18rem;
  margin: 1rem;
  position: relative;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 252, 252);
}

.save-btn {
  position: absolute;
  bottom: 1rem;
}

.card-body {
  margin-bottom: 2rem;
}

.card-body > svg {
  color: yellow;
  margin: 10px 0;
}

.header {
  text-align: center;
  margin: 2rem;
  color: rgb(132, 11, 156);
}

.spinner {
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
}

.add-post-form {
  margin: 2rem auto;
  border-radius: 10%;
  border: 1.5px gray solid;
  padding: 2rem;
  max-width: 30rem;
  background-color: rgb(255, 252, 252);
}

form {
  background-color: rgb(255, 252, 252);
}

.center {
  text-align: center;
}

.edit-icon,
.trash-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

.trash-icon {
  color: red;
}

.scroll-up {
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(132, 11, 156);
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  z-index: 5;
  display: none;
  cursor: pointer;
}

@media (min-width: 43rem) {
  .scroll-up {
    bottom: 6rem;
    right: 3rem;
  }
}
